<div class="header-body">
    <p style="font-family: Georgia, Times, serif; font-size: small; font-weight: bold; color: #333; background-color: #DEDEDE; margin: 5px; padding: 7px; border: 1px solid #333;"><span style="color:#C30">Avertissement :</span> Ce site est un projet étudiant faisant l'objet d'une évaluation et n’est lié d’aucune façon à l’entreprise ou l’organisme illustré. Sa présence est temporaire et il sera mis hors ligne à la fin du cours.</p>
    <div class="logo">
        <img src="../images/logo.gif" width="100" height="100" alt="clinique médicale angus" title="home page"/>
    </div>
    <h1 class="title hpos">Clinique Médicale Angus</h1>
    <nav>
        <ul class="menu hpos">
            <li><a page="Services/index.html">Services</a></li>
            <li><a page="equipe/index.html">Équipe</a></li>
            <li><a page="vision/index.html">Vision</a></li>
            <li><a page="forum/index.html">Forum</a></li>
            <li class="search-btn"></li>
        </ul>
    </nav>
    <div class="contact-info">
        <p>tél: (514) 807-2333</p>
        <p>tél: (514) 596-1821</p>
        <a href="mailto:cliniqueangus@videotron.ca">cliniqueangus@videotron.ca</a>
    </div>
</div>
