.footer {

    position: relative;
    float: none;
    display: block;
    /*padding-top: 2em;*/
    padding-bottom: 4em;
}

.footer img {

    margin-left: 2em;
    margin-right: 2em;
    float: left;
    cursor: pointer;
}

.float-separator:after {
    position: relative;
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
}

.float-separator {
    position: relative;
    display: block;
    height: 10px;
    width: 100%;
    float: left;
}
