.header-location {

    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    overflow: hidden;
}

.body-location {

    position: absolute;
    display: block;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
