
.tile {
    position: relative;
    display: inline-block;
    float: left;
    margin: 20px;
    min-height: 300px;
    min-width: 620px;
    max-width: 620px;
    background: #e2e7f4;
    border-radius: 15px;
}

.tile-small {

    position: relative;
    display: inline-block;
    float: left;
    margin: 20px;
    min-height: 300px;
    min-width: 290px;
    max-width: 290px;
    background: #e2e7f4;
    border-radius: 15px;
}



/*
    For iPad in landscape mode
*/
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation: landscape) {

    .tile {
        position: relative;
        display: inline-block;
        float: left;
        margin: 20px;
        min-height: 300px;
        min-width: 940px;
        background: #e2e7f4;
        border-radius: 15px;
    }

    .tile-small {
        position: relative;
        display: inline-block;
        float: left;
        margin: 20px;
        min-height: 300px;
        min-width: 450px;
        background: #e2e7f4;
        border-radius: 15px;
    }
}


/*
    For iPad in portrait mode
*/
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation: portrait) {

    .tile {
        position: relative;
        display: inline-block;
        float: left;
        margin: 20px;
        min-height: 300px;
        min-width: 700px;
        background: #e2e7f4;
        border-radius: 15px;
    }

    .tile-small {
        position: relative;
        display: inline-block;
        float: left;
        margin: 20px;
        min-height: 300px;
        min-width: 330px;
        background: #e2e7f4;
        border-radius: 15px;
    }
}


/*
    For normal PC assuming base resolution of 1366x768
*/
/*@media only screen*/
    /*and (min-device-width : 1366px) {*/

    /*.tile {*/
        /*position: relative;*/
        /*display: inline-block;*/
        /*float: left;*/
        /*margin: 20px;*/
        /*min-height: 300px;*/
        /*min-width: 620px;*/
        /*max-width: 620px;*/
        /*background: #e2e7f4;*/
        /*border-radius: 15px;*/
    /*}*/

    /*.tile-small {*/

        /*position: relative;*/
        /*display: inline-block;*/
        /*float: left;*/
        /*margin: 20px;*/
        /*min-height: 300px;*/
        /*min-width: 290px;*/
        /*max-width: 290px;*/
        /*background: #e2e7f4;*/
        /*border-radius: 15px;*/
    /*}*/
/*}*/


.tile .text {

    color: #486e90;
}

.tile .text-alt {

    color: #363d43;
}
